<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="dynamic.dao.OrderMapper">

    <sql id="FIELDS">
        id, order_no,
        product_id,
        product_name,
        product_image,
        quantity,
        origin_price,
        buy_price,
        payment_time,
        delivery_time,
        receiver_time,
        user_id,
        status,
        deleted
    </sql>

    <update id="updateById">
        update t_order set product_name=#{entity.productName} where id=#{entity.id}
    </update>

    <select id="selectById" parameterType="Integer" resultType="dynamic.entity.OrderDO">
        SELECT
        <include refid="FIELDS" />
        FROM t_order
        WHERE id = #{orderId}
    </select>



</mapper>